@using WebApp.Helpers;

@{
    ViewBag.Title = "vListaVistas";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<!-- Styles -->
@section Styles {
    @Styles.Render("~/Content/datatable")
}

<!-- Scripts -->
@section Scripts {
    @Scripts.Render("~/Scripts/datatable")
    <script src="~/Scripts/Views/vListaTerminales.js"></script>
}

<!-- Page Content -->
<div class="row">
    <div class="col-md-12">
        @Html.CtrlTable(viewName: "vListaVistas", id: "listaVistas", title: "Lista Vistas", 
                       columnsTitle: "Nombre,Descripcion", columnsDataName: "Id,Descripcion", onSelectFunction: "ActionControls")
    </div>
</div>

