@using WebApp.Helpers;

@{
    ViewBag.Title = "Dashboard General";
}

<!-- Styles -->
@section Styles {

}
<!-- Scripts -->
@section Scripts {

}
<!-- Page Content -->
<div class="row">
    <div class="col-12">
        <h1>You're in</h1>
        <p>Test Dashboard General.</p>
    </div>
</div>