@using WebApp.Helpers;

@{
    ViewBag.Title = "Dashboard Administrador";
}

<!-- Styles -->
@section Styles {

}
<!-- Scripts -->
@section Scripts {

}
<!-- Page Content -->
<div class="row">
    <div class="col-12">
        <h3>¡Bienvenido <span id="userName"></span>!</h3>
        <hr size="30">
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-area-chart"></i> Ganancias terminales
            </div>
            <div class="card-body">
                <canvas id="myAreaChart" width="100%" height="30"></canvas>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <!-- Example Bar Chart Card-->
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fa fa-bar-chart"></i> Ganancias por tipo de transacción
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-8 my-auto">
                                <canvas id="myBarChart" width="100" height="50"></canvas>
                            </div>
                            <div class="col-sm-4 text-center my-auto">
                                <div class="h4 mb-0 text-primary">₡<samp id="cobro"></samp></div>
                                <div class="small text-muted">Ganancias totales</div>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Card Columns Example Social Feed-->
                <hr class="mt-2">
                <!-- /Card Columns-->
            </div>
            <div class="col-lg-4">
                <!-- Example Pie Chart Card-->
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fa fa-pie-chart"></i> Número de transacciones por tipo de tarjeta
                    </div>
                    <div class="card-body">
                        <canvas id="myPieChart" width="100%" height="100"></canvas>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@section FinalScripts {
    <script src="../../Scripts/Chart.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../../Scripts/adminlte.min.js"></script>
    <!-- Payment Custom JS -->
    <script src="../../Scripts/Views/Dashboard/vAdministrador.js"></script>
}
