@using WebApp.Helpers;

@{
    ViewBag.Title = "Dashboard Empresario";
}

<!-- Styles -->
@section Styles {

}
<!-- Scripts -->
@section Scripts {

}
<!-- Page Content -->
<div class="row">
    <div class="col-md-3">
        <img src="~/img/landing-pic.png" class="img-fluid" />
    </div>
    <div class="col-md-8 text-center">
        <h1 class="text-success"><br>¡Bienvenido<span id="userName"></span>!</h1>
        <p><b></b> </p>
        <p>Agradecemos tu preferencia, al utilizar nuestros servicios ayudas a mejorar nuestra plataforma y juntos brindar un mejor servicio.</p>
        <p>Tu opinión si cuenta, contactanos en caso de tener cualquier duda: <br><a href="mailto:cs@tubus.com">cs@tubus.com</a></p>
    </div>
</div>