@{
    ViewBag.Title = "Lista tarjetas convenios";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

@section Styles {
    @Styles.Render("~/Content/datatable")
}

<!-- Scripts -->
@section Scripts {
    @Scripts.Render("~/Scripts/datatable")
    <script src="~/Scripts/Views/Convenio/vListaTarjetasConvenios.js"></script>
}

<div class="row">
    <div class="col-md-12">
        @Html.CtrlTable(viewName: "vListaConvenio", id: "listaConvenios", title: "Convenios",
                 columnsTitle: "Correo solicitante, Terminal,Convenio,Estado,Acciones", columnsDataName: "EmailSolicitante,Terminal.TerminalName,Convenio.NombreInstitucion,Estado,Acciones", onSelectFunction: "ActionControls")
    </div>
</div>

