@using WebApp.Helpers;

@{
    ViewBag.Title = "Lista Terminales";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<!-- Styles -->
@section Styles {
    @Styles.Render("~/Content/datatable")
}

<!-- Scripts -->
@section Scripts {
    @Scripts.Render("~/Scripts/datatable")
    <script src="~/Scripts/Views/Terminal/vListaTerminales.js"></script>
}

<!-- Page Content -->
<div class="row">
    <div class="col-md-12">
        @Html.CtrlTable(viewName: "vListaTerminales", id: "listaterminal", title: "Lista Terminales",
                                     columnsTitle: "Id,Nombre Terminal,Cantidad de Lineas,Estado,Acciones", columnsDataName: "Id,TerminalName,CantidadLineas,Estado,Acciones", onSelectFunction: "ActionControls")
    </div>
</div>

