@using WebApp.Helpers;

@{
    ViewBag.Title = "Loading";
    Layout = "~/Views/Shared/_LayoutNotUserRequired.cshtml";
}

<!-- Styles -->
@section Styles {
    <link rel="stylesheet" href="~/Content/views/vLoading.css">
}
<!-- Scripts -->
@section Scripts {
}
<!-- Page Content -->
<div class="loader"></div>
